:root {
  --background: rgb(42, 36, 36);
  --foreground: #001986;
  --accent: #d0d0d0;
  --big-text: #adadad;
  --reg-text: #ffffff;
  --header-font: Arial;
}

section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 90px;
  min-height: 100vh;
}

form {
  width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
